@import "~font-awesome/scss/font-awesome";
@import "~reset-css/sass/reset";

/* Default styles */

* {
  max-width: 100%;
  overflow-x: hidden;
}

.table {
  margin: 2rem;
  // resize: both; 
  overflow: auto;
  border: 1px solid #999;
  display: flex;

  &-title {
    background-color: #e2e2e2;
    text-transform: uppercase;
    display: flex;

    &__item {
      text-align: center;
      width: 50px;
      height: 20px;
      padding: 5px 10px;
      border: 1px solid #e7e7e7;
    }
  }

  &-content {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    &__item {
      text-align: center;
      min-width: 50px;
      max-width: 100%;
      min-height: 20px;
      padding: 5px 10px;
      border: 1px solid #e7e7e7;
      border-top: none;
    }

    .header {
      text-align: center;
      min-width: 50px;
      max-width: 100%;
      min-height: 20px;
      padding: 5px 10px;
      border: 1px solid #e7e7e7;
      border-top: none;
      background-color: #e2e2e2;
    }
  }
}


#block {
  min-height: 100px;
  min-width: 100px;
  position: relative;
  width: 100px;
  border: 1px solid #999;
}
#block_resize {
  background-color: transparent;
  bottom: 0;
  cursor: all-scroll;
  height: 100%;
  width: 100%;
  margin-top: 9px;
  position: absolute;
  right: 0;
}