@import "~font-awesome/scss/font-awesome";
@import "~reset-css/sass/reset";

/* Default styles */

* {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.table {
  margin: 2rem;
  overflow: auto;
  display: flex;

  .column {
    width: 100px;

    .cell-head {
      background-color: #e7e7e7;

      .resize-col {
        position: absolute;
        width: 4px;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        background: blue;

        &:hover {
          background: blue;
          opacity: 1;
          cursor: col-resize;
        }
      }
    }

    .cell-head-number {
      font-size: .8rem;
    }

    .cell {
      position: relative;
      min-height: 1.5rem;
      border: 1px solid #999;
      text-align: center;
      padding: 3px;
    }
  }
}
