@import "~font-awesome/scss/font-awesome";
@import "~reset-css/sass/reset";

/* Default styles */

* {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.table {
  margin: 2rem;
  overflow-x: auto;
  display: flex;
  max-width: 100%;

  .column {
    min-width: 100px;
    max-width: 100%;

    &:first-child {
      min-width: 30px;
    }

    .cell-head {
      background-color: #e7e7e7;

      .resize-col {
        position: absolute;
        width: 4px;
        right: 0;
        top: 0;
        bottom: 0;
        background: blue;
        opacity: 0;

        &:hover {
          opacity: 1;
          cursor: col-resize;
        }
      }

      .resize-row {
        position: absolute;
        height: 4px;
        right: 0;
        bottom: 0;
        left: 0;
        background: blue;
        opacity: 0;

        &:hover {
          opacity: 1;
          cursor: row-resize;
        }
      }
    }

    .cell-head-number {
      font-size: .8rem;
    }

    .cell {
      position: relative;
      max-width: 100%;
      min-height: 1.5rem;
      max-height: 100%;
      border: 1px solid #999;
      text-align: center;
      padding: 3px;
      display: flex;
      flex-shrink: 0;
    }

    .row {
      position: relative;
      min-height: 1.5rem;
      max-height: 100%;
      border: 1px solid #999;
      text-align: center;
      padding: 3px;
    }
  }
}